header {
  font-family: Gill Sans Extrabold, sans-serif;
  color: #2c4f6e;
  background-color: #d3d9de;

}

body {
  font-style: normal;
  font-family: 'Andika';
  /*font-family: Gill Sans Extrabold, sans-serif;*/
  max-width: 800px;
  border-radius: 5px grey;
  /*align-items: center;*/
  /*align-content: center;*/
  padding: 40px;
}

h1 {

}

h2 {
  font-family: Gill Sans Extrabold, sans-serif;
  color: #2c4f6e;
  text-align: center;
}
h3 {
  margin: 5px;
}


h4 {
  font-family: Gill Sans Extrabold, sans-serif;
  color: #1d3549;
  text-align: left;
  margin: 5px;
}
p {
  margin-bottom: 25px;
  margin-top: 5px;
}
